<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head"></head>
<body>
<div th:include="nav"></div>
<form id="add-book-form" action="/">
    <div class="form-group">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text" placeholder="Enter book title" class="form-control"/>
    </div>
    <div class="form-group" id="authors-data">
        <label for="author-input">Author:</label>
        <select id="author-input" name="author" class="form-control">
            <option v-for="authorIt in authors" v-bind:value="authorIt.id">{{authorIt.fullName}}</option>
        </select>
    </div>
    <div class="form-group" id="genres-data">
        <label for="genre-input">Genre:</label>
        <select id="genre-input" name="genre" class="form-control">
            <option v-for="genreIt in genres" v-bind:value="genreIt.id">{{genreIt.title}}</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
        <a type="button" class="btn btn-danger" href="/">Cancel</a>
    </div>
</form>
<script>
     fetch('/api/authors')
        .then(response => response.json())
        .then(authors => {
            new Vue({
                el: '#authors-data',
                data: {
                    authors: authors
                }
            })
        });

</script>
<script>
     fetch('/api/genres')
        .then(response => response.json())
        .then(genres => {
            new Vue({
                el: '#genres-data',
                data: {
                    genres: genres
                }
            })
        });

</script>
<script>
$("#add-book-form").submit(function(event) {
	    event.preventDefault();
	    var data = {}
		data["title"] = $("#title-input").val();
	    var genre = {}
	    genre["id"] = $("#genre-input option:selected").val();
	    data["genre"] = genre;

	    var author = {}
	    author["id"] = $("#author-input option:selected").val();
	    data["author"] = author;
	    $.post({
	         url : '/api/books',
	         contentType: "application/json",
	         data: JSON.stringify(data),
	         dataType: 'json',
	         success: function (data) {
	             var url = "/";
	             $(location).attr('href',url);
	         }
	      })
	});

</script>
</body>
</html>
