<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head"></head>
<body>
<form id="edit-form" th:action="@{/add}" th:method="POST" action="index.html">
    <div class="form-group">
        <label for="title-input">Title:</label>
        <input id="title-input" name="title" type="text" placeholder="Enter book title" class="form-control"/>
    </div>
    <div class="form-group">
        <label for="author-input">Author:</label>
        <select id="author-input" name="author" class="form-control">
            <option th:each="author : ${authorList}" th:text="${author.fullName}" th:value="${author.id}">Author
            </option>
        </select>
    </div>
    <div class="form-group">
        <label for="genre-input">Genre:</label>
        <select id="genre-input" name="genre" class="form-control">
            <option th:each="genre : ${genreList}" th:text="${genre.title}" th:value="${genre.id}">Genre</option>
        </select>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Save</button>
        <a type="button" class="btn btn-danger" th:href="@{/}" href="index.html">Cancel</a>
    </div>
</form>
</body>
</html>
