<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:include="head"></head>
<body>
<div th:include="nav"></div>
<h1>Authors:</h1>
<a type="button" class="btn btn-secondary" href="addAuthor.html">Add new Author</a>

<table class="table table-striped" id="authors-table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">FullName</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <template>
        <tr v-for="author in authors" :key="author.id">
            <td>{{author.id}}</td>
            <td>{{author.fullName}}</td>
            <td>
                <button class="btn btn-danger" v-on:click="deleteAuthor(author.id)">Delete</button>
            </td>
        </tr>
    </template>
    </tbody>
</table>
<script>
     fetch('/api/authors')
        .then(response => response.json())
        .then(authors => {
            new Vue({
                el: '#authors-table',
                data: {
                    authors: authors
                },
                methods: {
                 deleteAuthor(id) {
                 fetch('http://localhost:8080/api/author/'+id, {
                      method: 'DELETE',
                    })
                    .then(res => res.text()) // or res.json()
                    .then(res => console.log(res))
                    window.location.reload()
                 }
               }
            })
        });
</script>
</body>
</html>