<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head"></head>
<body>
<div th:include="nav"></div>
<h1>Authors:</h1>
<a type="button" class="btn btn-secondary" th:href="@{/authors/add}" href="addAuthor.html">Add new Author</a>

<table class="table table-striped" id="authors-table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">FullName</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="author :${authors}">
        <td th:text="${author.id}">id</td>
        <td th:text="${author.fullname}">FullName</td>
        <td>
            <a type="button" class="btn btn-success" th:href="@{/authors/edit(id=${author.id})}" href="editAuthor.html">Edit</a>
            <form th:action="@{/authors/delete(id=${author.id})}" method="post">
                <input type="submit" class="btn btn-danger" value="Delete"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>