<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="head"></head>
<body>
<div th:include="nav"></div>

<h1>Books:</h1>
<a type="button" class="btn btn-secondary" href="/addBook">Add new book</a>
<table class="table table-striped" id="books-table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Genre</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    <template>
        <tr v-for="book in books" :key="book.id">
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author.fullName}}</td>
            <td>{{book.genre.title}}</td>
            <td>
                <a class="btn btn-success" v-bind:href="'/editBook?id='+book.id">Edit</a>
                <button class="btn btn-danger" v-on:click="deleteBook(book.id)">Delete</button>
            </td>
        </tr>
    </template>
    </tbody>
</table>
<script>
     fetch('/api/books')
        .then(response => response.json())
        .then(books => {
            new Vue({
                el: '#books-table',
                data: {
                    books : books
                },
                methods: {
                 deleteBook(id) {
                     fetch('http://localhost:8080/api/books/'+id, {
                          method: 'DELETE',
                        })
                        .then(res => res.text()) // or res.json()
                        .then(res => console.log(res))
                     window.location.reload()
                  },
                  editBook(id){
                        fetch('http://localhost:8080/api/books/'+id, {
                                                  method: 'DELETE',
                                                })
                                                .then(res => res.text()) // or res.json()
                                                .then(res => console.log(res))
                  }
                }
            })
        });

</script>
</body>
</html>