<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/">Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/authors">Authors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="/genres">Genres</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="/comment">Comment</a>
    </li>
</ul>
<div class="container">
    <main role="main" class="container">
        <h1 class="mt-5">LibCat</h1>
        <span class="lead">Онлайн библиотека на Spring</span>
    </main>
</div>