<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/task">Task</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/employee">Employee</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/group">Group</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/h2-console/">H2-console</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/datarest">The HAL Browser</a>
    </li>
</ul>

<div class="container">
    <main role="main" class="container">
        <h1 class="mt-5">HR Task Management System</h1>
        <span class="lead">Поручения под контролем.</span>
    </main>
</div>